body {
    color: #fff;
    margin: 0 auto;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #102737;
    background-image: url('/gfx/bg.png'), url('/gfx/bg2.png');
    background-position: bottom right, left top;
    background-size: contain;
    background-repeat: no-repeat;
}
main {
    width: 100%;
}
.logo {
    width: 100%;
    max-width: 800px;
    align-self: center;
    justify-self: center;
    -webkit-filter: drop-shadow( 0px 0px 100px rgba(0, 0, 0, .5));
    filter: drop-shadow( 0px 0px 100px rgba(255, 255, 255, .5));
}
.logoContainer {
    display: grid;
    opacity: 1;
    position: fixed;
    padding: 10px;
    min-height: 80%;
    width: 90%;
    gap: 10px;
    justify-self: center;
}
.board {
    display: grid;
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
.controls {
    display: grid;
    justify-self: center;
    height: 10%;
    max-width: 500px;
    padding: 0 10px;
    gap: 10px;
    grid-template-columns: 3fr 1fr 3fr;
    margin-top: -50px;
    z-index: 98;
}
.characterBtn {
    color: #fff;
    padding: 5px 10px;
    background-color: #85af0d;
    border: 5px solid #99CC00;
    border-radius: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    grid-column: 2;
}
.characterBtn:hover {
    background-color: #102737;
    border-color: #3b677a;
    cursor: pointer;
}
.playBtn, .playBtn:focus {
    flex: 0 0 70px;
    color: #fff;
    margin: 0 2%;
    padding: 0;
    width: 80px;
    height: 80px;
    background-image: url('../gfx/icons/dice_3d.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #85af0d;
    border: 5px solid #99CC00;
    border-radius: 50%;
}
.playBtn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px #3b677a;
}
.playBtn:disabled {
    background-color: #808080;
    border-color: #b3b3b3;
    box-shadow: none; 
}
@media only screen and (min-width: 800px) {
    .playBtn, .playBtn:focus {
        width: 100px;
        height: 100px;
    }
}
.playersTurn {
    font-size: 1rem;
    text-align: right;
    align-self: center;
}
@media only screen and (min-width: 800px) {
    .playersTurn {
        font-size: 1.2rem;
    }
}
.map {
    height: 100%;
    min-height: 90vh;
    max-width: 150%;
    justify-self: center;
    top: 0;
    margin-bottom: -10px;
    -webkit-filter: drop-shadow( 0px 0px 150px rgba(0, 0, 0, .5));
    filter: drop-shadow( 0px 0px 150px rgba(0, 0, 0, .5));
}
.mapBox {
    display: grid;
    justify-content: center;
}
.token {
    -webkit-transition: 2s ease-in-out;
    -moz-transition: 2s ease-in-out;
    -ms-transition: 2s ease-in-out;
    -o-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
}
.diceDisplay {
    font-size: 4rem;
    font-weight: 900;
    opacity: 0;
    color: #99CC00;
    align-self: center;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.bonus {
    display: grid;
    position: fixed;
    min-width: 200px;
    max-width: 350px;
    align-self: center;
    justify-self: center;
    opacity: 0;
    z-index: 94;
    padding: 20px;
    height: auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    color: #cc9900;
    border-radius: 40px;
    text-shadow: 0px 0px 20px #000;
    // PEW
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    background-color: rgba(0,0,0,0.8);
}
.bonusDice {
    max-width:100px; 
    margin:0 auto;
}
@media only screen and (min-width: 540px) {
    .bonusDice {
        max-width: 100%;
    }
}
.fade {
    opacity: 1;
}
.modal {
    z-index: 99;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    align-self: center;
}
.modalContent {
    background-color: #24475b;
    margin: 2% auto;
    padding: 20px;
    border: 10px solid #3b677a;
    border-radius: 40px;
    width: 75%;
    text-align: center;
    max-width: 650px;
}
.modalHeading {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-top: 10px;
}
.modalText {
    font-size: 1rem;
    padding: 0 10% 5% 10%;
}
@media only screen and (min-width: 540px) {
    .modalHeading {
        font-size: 3rem;
    }
    .modalText {
        font-size: 2rem;
    }
}
.modalIcon {
    max-width:
}
.modalClose {
    width: 100%;
    color: #ffffff;
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    display: block;
}
.modalClose:hover, .modalClose:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.charContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
}
@media only screen and (min-width: 540px) {
    .charContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media only screen and (min-width: 680px) {
    .charContainer {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}
@media only screen and (min-width: 850px) {
    .charContainer {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}
.charContent {
    display: grid;
    border-radius: 20px;
    padding: 10px;
    background: #3b677a;
    align-items: end;
}
.charContent:hover {
    background: #102737;
    cursor: pointer;
}
.charImg {
    width: 100%;
    min-width: 95px;
}
.charHeading {
    text-align: center;
    font-size: 1rem;
    margin: 0;
    padding-bottom:5px;
}